<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="cio">
			<section name="uiSettings" type="Cio.UI.Configuration.CioConfigurationSection, Cio.UI.Configuration"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<cio>
		<uiSettings elementsConfigType="Cio.UI.Composition.Default.ElementConfiguration, Cio.UI.Composition.Default">
			<serviceVisitors>
				<serviceVisitor type="Cio.UI.Wpf.ServiceVisitors.LanguageServiceVisitor, Cio.UI.Wpf" />
				<serviceVisitor type="Cio.UI.Wpf.ServiceVisitors.SpellCheckServiceVisitor, Cio.UI.Wpf" />
				<serviceVisitor type="Cio.UI.Wpf.ServiceVisitors.DisplayNameServiceVisitor, Cio.UI.Wpf" />
				<serviceVisitor type="Cio.UI.Wpf.ServiceVisitors.EditableServiceVisitor, Cio.UI.Wpf" />
			</serviceVisitors>
			<services>
				<service type="Cio.UI.PropertyDisplayNameService, Cio.UI"/>
				<service type="Cio.UI.CurrentThreadUILanguageService, Cio.UI"/>
			</services>
			<!--
			<elements>
				<element forType="System.String" factoryType="Cio.UI.Wpf.StringElementFactory, Cio.UI.Wpf"/>
				<element forType="System.String" factoryType="Cio.UI.Wpf.StringElementFactory, Cio.UI.Wpf" renderMode="editor_label"/>
				<element registrarType="Cio.UI.Wpf.DefaultElementsRegistrar, Cio.UI.Wpf"/>
			</elements>
			-->
		</uiSettings>
	</cio>
</configuration>